a {
  text-decoration: none;
}
.yellow-btn {
  background-color: #f6b400;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 18px;
  border: unset;
}
.blue-btn {
  background-color: #162b5a;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 18px;
  border: unset;
}
.back-button {
  color: #162b5a;
  font-weight: bold;
  cursor: pointer;
}
.back-button-img {
  height: 14px;
  position: relative;
  top: -2px;
  margin-right: 0.5rem;
}
.footer-content {
  background: #f2f6fa;
  padding-bottom: 6rem;
  padding-top: 8rem;
}
.footer-content .footer-logo {
  width: 60%;
}
.footer-content ul li {
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 1rem;
}
.footer-content ul li * {
  color: #000000;
}
.footer {
  background-color: #162b5a;
  padding: 1.25rem;
}
.footer .footer-content {
  color: #ffffff;
  margin-bottom: 0;
  text-decoration: none;
}

.header-full {
  background-color: #162b5a;
  padding: 0;
}
.header-full .header-logo {
  height: 60px;
}
.header-full .header-logo-bg {
  background-image: url("../images/Home/header-logo-bg.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.75rem 0;
  padding-left: 50%;
}
.header-full .avatar {
  background-color: #f6b400;
  margin-right: 1rem;
  color: #162b5a;
  font-weight: bold;
  font-size: 13px;
  border-radius: 50%;
  height: 39px;
  width: 40px;
  padding: 15px;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  text-transform: uppercase;
}
.header-full .header-full-content {
  padding-right: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  margin-bottom: 0;
}
.header-full .header-full-content li {
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
  font-weight: bold;
}
.header-full .header-full-content .active {
  color: #f6b400;
  border-bottom: 2px solid #f6b400;
}
.header-full .login-btn {
  background-color: #7ea2ce;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 18px;
  border: unset;
}
.header-small {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
}
.header-small .main-logo {
  height: 65px;
  object-fit: contain;
  padding: 10px 0;
}
.header-small .logo {
  font-size: 1.5rem;
}
.header .menu-icon {
  cursor: pointer;
  width: 30px;
  float: inline-end;
}
.header-small .menu-icon.open .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.header-small .menu-icon.open .line:nth-child(2) {
  opacity: 0;
}
.header-small .menu-icon.open .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.header-small .line {
  width: 30px;
  height: 4px;
  background-color: #162b5a;
  margin: 5px;
  border-radius: 20px;
}
.header-small .menu-icon {
  float: right;
}
.header-small .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: #ffffff;
  color: #162b5a;
  z-index: 10000;
}
.header-small .close-icon {
  font-size: 3rem;
  cursor: pointer;
  text-align: end;
}
.header-small ul {
  list-style: disc;
  padding: 0;
  padding-left: 1.5rem;
  border-top: 1px solid lightgrey;
  margin-top: 1rem;
}
.header-small li {
  color: #162b5a;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
  width: fit-content;
}
.header-small .header-menu-image {
  height: 70px;
  width: auto;
  object-fit: contain;
  margin: auto;
}
.footer span {
  color: #ffffff;
}
